//fonts
$font:"Inter", sans-serif;
//colors
$Green:hsl(75, 94%, 57%);
$White: hsl(0, 0%, 100%);
$Grey-200:hsl(0, 0%, 85%);
$Grey-600: hsl(0, 0%, 36%);
$Grey-700: hsl(0, 0%, 20%);
$Grey-800: hsl(0, 0%, 12%);
$Grey-900: hsl(0, 0%, 8%);

